<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Theory practice</title>
</head>
<body>
    <ol>
        <li>Introduce yourself</li>
        <li>About Angular</li>
        <li>What is framework</li>
        <li>How Angular is different from other frameworks</li>
        <li>The latest stable version of Angular</li>
        <li>Feature of Angular:- 
            <ol>
                <li>Directives</li>
                <li>Pipes</li>
                <li>Routing</li>
                <li>Data Binding</li>
                <li>Dependency Injection</li>
                <li>Services</li>
                <li>Note:-In new version app.module.ts remove app.routing.ts added,so all component file used only their own ts no need module.ts and routing set in app.routing.ts</li>
            </ol>
        </li>
        <li>What is standalone component</li>
        <li>What are NgModule ?</li>
        <li>Difference between Component and Directive ?</li>
        <li>Difference between Component and Module ?</li>
        <li>Directives and There types ?
            <ol>
                <li>Component Directives:- <footer></footer>, <app-example></app-example></li>
                <li>Structural Directives:- *ngIf, *ngFor, *ngSwitch</li>
                <li>Attribute Directives:- ngClass, ngStyle</li>
                
            </ol>
        </li>
        <li>What is data binding ?
            <ol>
                <li>Data binding is the feature of angular that bind our component data into html view format.</li>
                <li>Property Binding</li>
                <li>Interpolation</li>
                <li>Event Binding</li>
                <li>Two Way Binding</li>
            </ol>
        </li>
        <li>Difference between Interpolation and Property-Binding ?</li>
        <li>What is two way binding ?</li>
        <li>What is dynamic binding ?</li>
        <li>Difference between Template driven from and Reactive form ?</li>
        <li>What is pipes in Angular ? </li>
        <li>What is Angular Template ?</li>
        <li>What is Angular CLI ?
            <ol>
                <li>Angular CLI (Command Line Interface) is a tool provided by Angular that allows developers to create, build, test, and manage Angular applications using terminal commands. It automates common development tasks like generating components, modules, services, and more.</li>
            </ol>
        </li>
        <li>What is Lazy loading ?</li>
        <li>Difference between Observable and Subject ?
            <ol>
                <li>In Observable all subscriber have seperate execution.Observable does not allow user to manually push the data.</li>
                <li>In Subject all subscriber get the same execution. Subject allow user to manually push the data.</li>
            </ol>
        </li>
    </ol>
</body>
</html>