#wrapper{
    border: 2px solid black;
}

#header{
    border: 2px solid black;
    background-color: bisque;
}

#menu{
    border: 1px solid black;
    background-color: brown;
}

#menu ul li{
    display: inline-block;
    
}

#menu ul li a{
    text-decoration: none;
    padding: 6px;
    color: white;
}

#content h2{
   float: left;
}

#content img{
    float: left;
    width: 150px;
    height: 150px;
}

#content p{
    width: 70%;

}
#sidebar ul li{
    margin-left: 1100px;
    list-style: none;
}
#sidebar ul li a{
    text-decoration: none;

}